<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MiniScript Web</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
  <header>
    <h1>TALF - Compilador</h1>
    <p>Demostración de compilador web</p>
  </header>
  <main>
    <form method="post">
      <label for="code">Código MiniScript:</label>
      <textarea id="code" name="code">{{ code }}</textarea>
      <button type="submit">Ejecutar</button>
    </form>

    <div class="results">
      <div>
        <h2>AST</h2>
        <pre>{{ ast }}</pre>
      </div>
      <div>
        <h2>Resultado del intérprete</h2>
        <pre>{{ output }}</pre>
      </div>
    </div>
  </main>
  <footer>
    &copy; 2025 Sady Guzman - Diego Alfaro
  </footer>
</body>
</html>
